.container {
  width: 100%;
  height: 95vh;
  margin: auto;
  outline: solid 1px black;
}

.headline {
  position: relative;
  top: 100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.descripcion {
  position: relative;
  top: 100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
